<div class="menuGlowne">
  <div class="przyciskMobile" id="przyciskTylkoNaMobile">
    <div class="przycisk3linieOrazX">
      <div class="linia1"></div>
      <div class="linia2"></div>
      <div class="linia3"></div>
    </div>
    <div class="logoMobileMenu">MAPA INWESTYCJI</div>
  </div>

  <div class="lewyPrzycisk" id="lewyPrzycisk">
    <a href="/">Mapa</a>
    <a href="https://www.rynekinfrastruktury.pl/">Wiadomości</a>
    <a href="https://autostrady.info.pl/">Inwestycje</a>
  </div>
  <div class="srodkowyPrzycisk" id="srodkowyPrzycisk">MAPA INWESTYCJI</div>
  <div class="prawyPrzycisk" id="prawyPrzycisk">
    <a href="https://github.com/waszkiewiczja/">Kontakt</a>
  </div>
</div>
<hr class="liniarozdzielajaca" />

<!-- Początek dropdown menu -->
<div class="dropdownMenu">
  <div class="pojedynczaKolumnaMenu">
    <button class="nazwaGlownaDropdownMenu">Region</button>
    <div class="zbiorWierszyMenu">
      <div class="pojedynczyWierszMenu kol1wiersz1">Północ</div>
      <div class="pojedynczyWierszMenu kol1wiersz2">Południe</div>
      <div class="pojedynczyWierszMenu kol1wiersz3">Centrum</div>
      <div class="pojedynczyWierszMenu kol1wiersz4">Wschód</div>
      <div class="pojedynczyWierszMenu kol1wiersz5">Zachód</div>
      <div class="pojedynczyWierszMenu kol1wiersz6 zamknij">Zamknij</div>
    </div>
  </div>

  <div class="pojedynczaKolumnaMenu">
    <button class="nazwaGlownaDropdownMenu">Kwota</button>
    <div class="zbiorWierszyMenu">
      <a href="/?sortuj=odnajtanszej">
        <div class="pojedynczyWierszMenu kol2wiersz1">Od najtańszej</div>
      </a>
      <a href="/?sortuj=odnajdrozszej">
        <div class="pojedynczyWierszMenu kol2wiersz2">Od najdroższej</div></a
      >
      <a href="/">
        <div class="pojedynczyWierszMenu kol2wiersz3 zamknij">Zamknij</div></a
      >
    </div>
  </div>

  <div class="pojedynczaKolumnaMenu">
    <button class="nazwaGlownaDropdownMenu">Termin ukończenia</button>
    <div class="zbiorWierszyMenu">
      <a href="/?sortuj=najkrotszy">
        <div class="pojedynczyWierszMenu kol3wiersz1">Najkrótszy</div></a
      >
      <a href="/?sortuj=najdluzszy">
        <div class="pojedynczyWierszMenu kol3wiersz2">Najdłuższy</div></a
      >
      <a href="/">
        <div class="pojedynczyWierszMenu kol3wiersz3 zamknij">Zamknij</div></a
      >
    </div>
  </div>
</div>
<hr class="liniarozdzielajaca" />

<!-- Koniec dropdowne menu -->
